*{
    margin: 0;
    padding: 0;
    
}
.navbar{
    display: flex;
    background-color: rgb(250, 250, 250);
    box-shadow: 0 .5rem 1rem rgba(0, .15, .15, .15);
    align-items: center;
    justify-content: space-around;

}


.nav-links{
    display: flex;
    gap: 50px;
}
a{
    text-decoration: none;
    font-size: 26px;
    color: #032e74;
    font-weight: 500;
}
.logo{
    width: 160px;
}
.input-stream{
    width: 300px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    border-color: #032e74;
}
.search-btn{
    background-color:#032e74;
    padding: 5px;
    color: white;
    height: 40px;
    width:150px;
    font-size: 18px;
    border-radius: 5px;
}
.Container1{
    background-image: url('image1.jpg');
    background-size: cover;
  
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    height: 750px;
    
}
.content{
    padding-top: 100px;
    display: block;
    align-items: center;
}
.Container2{
    margin-top: 80px;
    display: block;
    
}
.card-container{
    display: block;
    
}
.dis{
    text-align: center;
}
.card-container1{
    display: flex;
    justify-content: space-evenly;
}
.card-container2{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.Container3{
    display: flex;
    justify-content: space-evenly;
}
.inner-container{
    margin-top: 50px;
    display: block;
    background-color: white;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 0 .5rem 1rem rgba(.15, .15, .15, .15);
    width: 500px;
   }
.form-container{
    text-align: center;
    padding-block: 20px;
}
.input-field{
    margin-top: 10px;
    width: 300px;
    height: 40px;
    border: 2px solid black;
    font-size: 20px;
    border-radius: 6px;
}
.heading1{
    margin-top:100px ;
}